<nav class="navbar navbar-expand-lg navbar-light bg-light" data-test="navbar">
  <div class="container-fluid justify-content-between">
    <div class="d-flex">
      <img class="navbar-brand me-2 mb-1 d-flex align-items-center" 
        src="../../../assets/img/main/logo.png" height="30" alt="" loading="lazy" 
        style="margin-top: 2px;" data-test="logo" />
    </div>
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1" data-test="welcome-message">
        <a class="nav-link d-sm-flex align-items-sm-center">
          <strong class="d-none d-sm-block ms-1">Welcome back, {{userLoggedIn.email}}</strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1" data-test="logout-button">
        <a class="nav-link" (click)="logout()">
          <span><i class="fas fa-sign-out fa-lg"></i></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container p-4" data-test="file-list-container">
  <app-file-list></app-file-list>
</div>
