<div class="row">
    <div class="col-10">
        <div class="border rounded-5 p-4">
            <input #fileInput class="form-control form-control-lg" type="file" (change)="onFileSelected($event)"
                multiple data-test="file-input" />
        </div>
    </div>

    <div class="col-2">
        <div class="border rounded-5 h-100 d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary text-white" (click)="deleteAllFiles()"
                [disabled]="userLoggedInUploadedFiles.length > 0 ? false : true" mdbRipple data-test="clear-all-button">
                <i class="fas fa-trash me-2"></i>
                Clear All Files
            </button>
        </div>
    </div>
</div>

<hr class="hr" />

<div class="row">
    <div class="col-md">
        <ng-container *ngIf="userLoggedInUploadedFiles.length > 0; else noFilesAvailable">
            <div class="table-responsive border rounded-5" style="height: 700px;">
                <table class="table align-middle mb-0 bg-white">
                    <tbody data-test="file-list">
                        <tr *ngFor="let file of userLoggedInUploadedFiles">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img [src]="'../../../assets/img/files/'+ file.extension +'.png'" alt=""
                                        style="width: 45px; height: 45px">
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">{{ file.name }}</p>
                                        <p class="text-muted mb-0">Size: {{ file.size | kbToMb }}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-danger text-white" (click)="deleteFile(file.id)" role="button"
                                    mdbRipple data-test="delete-file-button">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
        <ng-template #noFilesAvailable>
            <section class="text-center">
                <h4>No files uploaded</h4>
            </section>
        </ng-template>
    </div>
</div>